<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main.lua</string>
		<string>Soda.lua</string>
		<string>OverviewUI.lua</string>
		<string>OverviewSettings .lua</string>
		<string>OverviewUIClassic.lua</string>
		<string>calculator.lua</string>
		<string>Layout.lua</string>
		<string>FRAME.lua</string>
		<string>Gesture.lua</string>
		<string>Style.lua</string>
		<string>RoundRect.lua</string>
		<string>Blur.lua</string>
		<string>Button.lua</string>
		<string>Toggle.lua</string>
		<string>Switch.lua</string>
		<string>TextEntry.lua</string>
		<string>Slider.lua</string>
		<string>Selector.lua</string>
		<string>Segment.lua</string>
		<string>Scroll.lua</string>
		<string>ScrollShape.lua</string>
		<string>TextScroll.lua</string>
		<string>List.lua</string>
		<string>Windows.lua</string>
		<string>ColorWheel.lua</string>
		<string>Stack.lua</string>
		<string>Standardizer.lua</string>
		<string>.git/</string>
		<string>.git/logs/</string>
		<string>.git/logs/refs/</string>
		<string>.git/logs/refs/heads/</string>
		<string>.git/logs/refs/remotes/</string>
		<string>.git/logs/refs/remotes/origin/</string>
		<string>.git/objects/</string>
		<string>.git/objects/31/</string>
		<string>.git/objects/d0/</string>
		<string>.git/objects/09/</string>
		<string>.git/objects/5d/</string>
		<string>.git/objects/4d/</string>
		<string>.git/objects/a3/</string>
		<string>.git/objects/21/</string>
		<string>.git/objects/18/</string>
		<string>.git/objects/f0/</string>
		<string>.git/objects/5c/</string>
		<string>.git/objects/ff/</string>
		<string>.git/objects/61/</string>
		<string>.git/objects/89/</string>
		<string>.git/objects/37/</string>
		<string>.git/objects/ee/</string>
		<string>.git/objects/ce/</string>
		<string>.git/objects/ef/</string>
		<string>.git/objects/eb/</string>
		<string>.git/objects/c6/</string>
		<string>.git/objects/30/</string>
		<string>.git/objects/e6/</string>
		<string>.git/objects/8b/</string>
		<string>.git/objects/71/</string>
		<string>.git/objects/00/</string>
		<string>.git/objects/11/</string>
		<string>.git/objects/3c/</string>
		<string>.git/objects/ab/</string>
		<string>.git/objects/pack/</string>
		<string>.git/objects/bd/</string>
		<string>.git/objects/15/</string>
		<string>.git/objects/info/</string>
		<string>.git/objects/22/</string>
		<string>.git/objects/9e/</string>
		<string>.git/objects/06/</string>
		<string>.git/objects/6c/</string>
		<string>.git/objects/07/</string>
		<string>.git/objects/a4/</string>
		<string>.git/objects/6a/</string>
		<string>.git/objects/96/</string>
		<string>.git/objects/f1/</string>
		<string>.git/objects/73/</string>
		<string>.git/objects/9c/</string>
		<string>.git/objects/d3/</string>
		<string>.git/objects/f2/</string>
		<string>.git/objects/e9/</string>
		<string>.git/objects/92/</string>
		<string>.git/objects/ba/</string>
		<string>.git/objects/01/</string>
		<string>.git/objects/62/</string>
		<string>.git/objects/2a/</string>
		<string>.git/objects/e1/</string>
		<string>.git/objects/6b/</string>
		<string>.git/objects/2f/</string>
		<string>.git/objects/cb/</string>
		<string>.git/objects/b8/</string>
		<string>.git/objects/1d/</string>
		<string>.git/objects/52/</string>
		<string>.git/objects/7f/</string>
		<string>.git/objects/60/</string>
		<string>.git/objects/c5/</string>
		<string>.git/objects/f6/</string>
		<string>.git/objects/83/</string>
		<string>.git/objects/43/</string>
		<string>.git/objects/cd/</string>
		<string>.git/objects/54/</string>
		<string>.git/objects/dc/</string>
		<string>.git/objects/82/</string>
		<string>.git/objects/5b/</string>
		<string>.git/objects/16/</string>
		<string>.git/objects/d9/</string>
		<string>.git/objects/3d/</string>
		<string>.git/objects/ec/</string>
		<string>.git/objects/26/</string>
		<string>.git/objects/d6/</string>
		<string>.git/objects/c1/</string>
		<string>.git/objects/35/</string>
		<string>.git/objects/2e/</string>
		<string>.git/objects/a0/</string>
		<string>.git/objects/85/</string>
		<string>.git/objects/8f/</string>
		<string>.git/objects/4a/</string>
		<string>.git/objects/0f/</string>
		<string>.git/objects/3e/</string>
		<string>.git/objects/67/</string>
		<string>.git/objects/59/</string>
		<string>.git/objects/36/</string>
		<string>.git/objects/90/</string>
		<string>.git/objects/29/</string>
		<string>.git/hooks/</string>
		<string>.git/info/</string>
		<string>.git/refs/</string>
		<string>.git/refs/remotes/</string>
		<string>.git/refs/remotes/origin/</string>
		<string>.git/refs/tags/</string>
		<string>.git/refs/heads/</string>
	</array>
	<key>Created</key>
	<string>2015-10-28 08:31:01 +0000</string>
	<key>Description</key>
	<string>Soda v0.7</string>
	<key>ProjectID</key>
	<string>161305D5-C7F3-40D1-A106-3D2E102FE209</string>
</dict>
</plist>
